@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TP07: CRUD with ASP.NET MVC</h1>
    <p class="lead">Add, edit, delete and query details from various tables in the Northwind DB.</p>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <h2 class="mb-4">Territories</h2>
        <p>@Html.ActionLink("List items", "Index", "Territories", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2 class="mb-4">Region</h2>
        <p>@Html.ActionLink("List items", "Index", "Region", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2 class="mb-4">Categories</h2>
        <p>@Html.ActionLink("List items", "Index", "Categories", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2 class="mb-4">Shippers</h2>
        <p>@Html.ActionLink("List items", "Index", "Shippers", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2 class="mb-4">Spacecraft Data API</h2>
        <p>@Html.ActionLink("Use API", "Index", "SpacecraftData", null, new { @class = "btn btn-primary" })</p>
    </div>
</div>