@model TP07MVC.Entity.DTO.TerritoryRegion
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<p>@Html.DisplayNameFor(m => m.TerritoryID): @Model.TerritoryID</p>
<p>@Html.DisplayNameFor(m => m.TerritoryDescription): @Model.TerritoryDescription</p>
<p>@Html.DisplayNameFor(m => m.RegionDescription): @Model.RegionDescription</p>