@model IEnumerable<TP07MVC.WebMVC.Models.TerritoriesModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Territories</h1>
<hr />
<h2 class="mb-5">Index</h2>
<div class="my-4 d-flex justify-content-between">
    @using(Html.BeginForm("Index", "Territories", FormMethod.Get, new { @id = "searchForm" }))
    {
        <div class="d-flex align-items-baseline">
            @Html.Label("searchBox", "Search: ", new { @class = "control-label mr-3" })
            @Html.TextBox("searchString", null, new { @class = "form-control mr-1", @id = "searchBox" })
            <input type="submit" class="btn btn-primary" value="Go">
            @if(!string.IsNullOrEmpty(ViewBag.SearchString))
            {
                <input type="button" class="btn btn-secondary ml-1" value="Clear" onclick="clearSearchForm()">
            }
        </div>
    }
    <div>
        @Html.ActionLink("Add", "Add", null, new { @class = "btn btn-success" })
    </div>
</div>

<table class="table text-center">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(m => m.TerritoryID).ToString(), "Index", new { sortOrder = ViewBag.IDSortParam, searchString = ViewBag.SearchString })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(m => m.TerritoryDescription).ToString(), "Index", new { sortOrder = ViewBag.DescSortParam, searchString = ViewBag.SearchString })
        </th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.TerritoryID)</td>
            <td>@Html.DisplayFor(m => item.TerritoryDescription)</td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.TerritoryID }, new { @class = "btn btn-info" })
                @Html.ActionLink("Edit", "Edit", new { id = item.TerritoryID }, new { @class = "btn btn-secondary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.TerritoryID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>

<script>
    function clearSearchForm() {
        // clears searchBox input and re-submits form
        $('#searchBox').val('');
        $('#searchForm').submit();
    }
</script>