@model IEnumerable<TP07MVC.Entity.Territories>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Territories</h1>
<h2>Index</h2>

<div class="my-4 d-flex justify-content-between">
    @using(Html.BeginForm())
    {
        <div class="d-flex align-items-baseline">
            @Html.Label("search-form", "Search: ", new { @class = "control-label mr-3" })
            @Html.TextBox("searchString", null, new { @class = "form-control", @id = "search-form" })
            <input type="submit" class="btn btn-default" value="Go">
        </div>
    }
    <div>
        @Html.ActionLink("Add new", "Add", null, new { @class = "btn btn-success" })
    </div>
</div>

<table class="table text-center">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(m => m.TerritoryID).ToString(), "Index", new { sortOrder = ViewBag.IDSortParam, searchString = ViewBag.SearchString })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(m => m.TerritoryDescription).ToString(), "Index", new { sortOrder = ViewBag.DescSortParam, searchString = ViewBag.SearchString })
        </th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.TerritoryID)</td>
            <td>@Html.DisplayFor(m => item.TerritoryDescription)</td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.TerritoryID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Edit", "Edit", new { id = item.TerritoryID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.TerritoryID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>
