@model TP07MVC.Entity.DTO.TerritoryRegion
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Territories</h1>
<hr />
<h2 class="mb-5">Details</h2>

@Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary mb-3" })

<div class="d-flex  flex-column">
    <div class="d-flex align-items-baseline my-2">
        <h5>@Html.DisplayNameFor(m => m.TerritoryID):</h5>
        <p class="ml-3">@Model.TerritoryID</p>
    </div>
    <div class="d-flex align-items-baseline my-2">
        <h5>@Html.DisplayNameFor(m => m.TerritoryDescription):</h5>
        <p class="ml-3">@Model.TerritoryDescription</p>
    </div>
    <div class="d-flex align-items-baseline my-2">
        <h5>@Html.DisplayNameFor(m => m.RegionDescription):</h5>
        <p class="ml-3">@Model.RegionDescription</p>
    </div>
</div>