@model TP07MVC.WebMVC.Models.ShippersModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Shippers</h1>
<hr />
<h2 class="mb-5">Details</h2>

@Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary mb-3" })

<div class="d-flex flex-column align-items-start">
    <div class="d-flex align-items-baseline my-2">
        <h5>@Html.DisplayNameFor(m => m.ShipperID):</h5>
        <p class="ml-3">@Model.ShipperID</p>
    </div>

    <div class="d-flex align-items-baseline my-2">
        <h5>@Html.DisplayNameFor(m => m.CompanyName):</h5>
        <p class="ml-3">@Model.CompanyName</p>
    </div>

    <div class="d-flex align-items-baseline my-2">
        <h5>@Html.DisplayNameFor(m => m.Phone):</h5>
        <p class="ml-3">@Model.Phone</p>
    </div>
</div>