@model TP07MVC.Entity.ViewModel.RegionViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool updating = Model != null;
}

<h2>Create</h2>

@using(Html.BeginForm(updating ? "Update" : "Create", "Region"))
{
    <div>
        <h4>
            @(updating ? "Update shipper" : "Add shipper")
        </h4>


        <div class="form-group">
            @Html.LabelFor(model => model.RegionID, new { @class = "control-label" })

            @if(updating)
            {
                @Html.EditorFor(model => model.RegionID, new { htmlAttributes = new { @type = "number", @class = "form-control", @readonly = true } })
            }
            else
            {
                @Html.EditorFor(model => model.RegionID, new { htmlAttributes = new { @type = "number", @class = "form-control" } })
            }
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegionDescription, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.RegionDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegionDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
            @Html.ActionLink("Cancel changes", "Index")
        </div>
    </div>
}